---
---

@charset "utf-8";

// Our variables
$base-font-family: "Roboto", sans-serif;
$base-font-size:   100%;  // 16px by default
$base-font-weight: 400;
$bold-font-weight: 600;
$small-font-size:  0.9em;
$base-line-height: 1.64;

$spacing-unit:     30px;
$content-width:    800px;

$text-color:        #333;
$background-color:  #fff;
$brand-color:       #0A656C;
$link-color:        #4682B4;
$header-background: #ececec;
$footer-background: #234;
$footer-text:       darken(#fff, 10%);

$grey-color:       #828282;
$grey-color-light: #f8f8f8;
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "layout",
  "nav",
  "footer",
  "headings",
  "home",
  "publications",
  "projects",
  "blog",
  "syntax-highlighting"
;
