<footer>
  <div class="container">
    <div class="footer-col">
      Hello from India.<br/>
      <abbr title="Last build on {{site.time | date: '%Y-%m-%d'}}">{{ site.time | date: '%B %Y'}}</abbr>
    </div>
    <div class="footer-col">
      <a href="https://github.com/anujgupta82/anujgupta82.github.io/edit/master/{{page.path}}">Edit this page</a>
    </div>
    <div class="footer-col site-desc">{{ site.description }} I'm <a href="https://twitter.com/anujgupta82">@anujgupta82</a> on Twitter.</div>
  </div>
</footer>
