<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="application-name" content="{{ site.title }}">
  <meta name="theme-color" content="#b00">
  <link rel="shortcut icon" href="{{ '/favicon.ico' | relative_url }}"/>
  <link rel="icon" type="image/png" href="{{ '/favicon.png' | relative_url }}" sizes="250x250" />

  {% seo %}

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | absolute_url }}">

  <link href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" rel="stylesheet">
  <link href="{{ '/styles.css' | relative_url }}" rel="stylesheet">
</head>
