{% assign current = page.url | downcase | split: '/' %}
<header class="page-header">
  <nav class="container">
    <a class="site-title" href="{{ absolute_url }}/">{{ site.title }}</a>

    <a href="{{ '/projects/' | relative_url }}" {% if current[1] == 'projects' %}class="active"{% endif %}>Projects</a>
    <a href="{{ '/publications/' | relative_url }}" {% if current[1] == 'publications' %}class="active"{% endif %}>Publications</a>
    <a href="{{ '/talks/' | relative_url }}" {% if current[1] == 'talks' %}class="active"{% endif %}>Talks</a>
    <a href="{{ '/blog/' | relative_url }}" {% if current[1] == 'blog' %}class="active"{% endif %}>Blog</a>
    <a href="{{ '/cv/' | relative_url }}" {% if current[1] == 'cv' %}class="active"{% endif %}>CV</a>

    <span class="external">
      <a href="https://twitter.com/domoritz"><i class="fab fa-twitter"></i> Twitter</a>
      <a href="https://github.com/domoritz"><i class="fab fa-github"></i> GitHub</a>
    </span>
  </nav>
</header>
