{% assign current = page.url | downcase | split: '/' %}
<header class="page-header">
  <nav class="container">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <div class="links">
      <div class="primary-links">
        <a href="{{ site.baseurl }}/publications/" {% if current[1] == 'publications' %}class="active"{% endif %}><i class="fa fa-university"></i> Publications</a>
        <a href="{{ site.baseurl }}/projects/" {% if current[1] == 'projects' %}class="active"{% endif %}><i class="fa fa-terminal"></i> Projects</a>
        <a href="{{ site.baseurl }}/blog/" {% if current[1] == 'blog' %}class="active"{% endif %}><i class="fa fa-comment"></i> Blog</a>
        <a href="{{ site.baseurl }}/files/dominik_moritz_cv.pdf"><i class="fa fa-user"></i> CV</a>
      </div>
      <div class="secondary-links">
        <a href="https://twitter.com/domoritz" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
        <a href="https://github.com/domoritz" target="_blank"><i class="fa fa-github"></i> GitHub</a>
      </div>
    </div>
  </nav>
</header>
