<amp-analytics type="googleanalytics" id="analytics1">
<script type="application/json">
{
  "vars": {
    "account": "{{ site.google_analytics_tracking_id }}"
  },
  "triggers": {
    "trackPageview": {
      "on": "visible",
      "request": "pageview"
    }
  }
}
</script>
</amp-analytics>

<script>
  function trim(str) {
    return str.replace(/^\s+|\s+$/g, '');
  }
  document.querySelectorAll("h2, h3, h4, h5, h6").forEach(function(h) {
    var name = h.getAttribute("id");
    var title = h.innerHTML;
    h.innerHTML = '<a href="#' + name + '" class="anchor"><i class="fa fa-hashtag"></i></a>' + trim(title);
  });
</script>
