<div class="talk">
  {{ talk.location }}{% if talk.city %}, <span class="city">{{ talk.city }}</span>{% endif %}

  <span class="extra-links">
    {% if talk.slides %}
    <a href="{{ talk.slides }}">
      <i class="fas fa-window-maximize" aria-hidden="true"></i> Slides
    </a>
    {% endif %}

    {% if talk.recording %}
    <a href="{{ talk.recording }}">
      <i class="fas fa-video" aria-hidden="true"></i> Recording
    </a>
    {% endif %}

    {% if talk.url %}
    <a href="{{ talk.url }}">
      <i class="fas fa-link" aria-hidden="true"></i> Website
    </a>
    {% endif %}
  </span>

  <time datetime="{{ talk.date }}">
    {{ talk.date | date: "%b %Y" }}
  </time>
</div>
