/**
 * Basic styling
 */
html, body {
  width: 100%;
  min-height: 100vh;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 300;
  color: $text-color;
  background-color: $background-color;
  text-rendering: optimizeLegibility;

  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
}



/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Set `margin-bottom` to maintain vertycal rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}



/**
 * Links
 */
a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        opacity: .8;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */

code {
  padding: 2px 4px;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    background-color: $grey-color-light;
    border-radius: 3px;
    border: 1px solid darken($grey-color-light, 15%);

    > code {
      background: none;
      border: 0;
      padding-right: 0;
      padding-left: 0;
    }
}



/**
 * Text styling
 */
strong, b {
  font-weight: bold;
}


/**
 * Iframe
 */
iframe {
  border: none;
  max-width: 100%;
}


/* Content */

.lead {
  font-size: 1.3em;
}
