.post-list {
  .year {
    font-size: 1.4em;
    font-weight: normal;
    position: relative;
    top: -1px;
    float: left;
    border: none;
    margin: 0;

    @include media-query($on-palm) {
      float: none;
    }
  }

  .post-block {
    margin-left: 90px;
    padding-left: 60px;
    margin-bottom: $spacing-unit;
    position: relative;

    .post-meta {
      font-size: 0.8em;
      position: absolute;
      left: 0;
      top: 0.1em;

      .meta-year {
        visibility: hidden;
      }
    }

    h3 {
      font-size: 1.3em;
      margin: 0;
      font-weight: normal;

      .anchor {
        display: none;
      }
    }
  }

  @include media-query($on-palm) {
    .year {
      font-size: 1.75em;
      margin-top: 1.5em;
    }
    .post-block {
      margin: 0;
      padding: 0;
      .post-meta {
        position: relative;
        left: 0;

        .meta-year {
          visibility: visible;
        }
      }
    }
  }
}


.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}



/**
 * Post page.
 */

.post-header {
  margin: 1.5*$spacing-unit 0;
  h1 {
    margin: 0;
  }
  p {
    margin-bottom: 0.5em;
  }
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
  margin-bottom: 0;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-subtite {
  font-size: 1.2em;
}

.post-sharing {
  margin-top: 3 * $spacing-unit;
}

.blog-links {
  margin: $spacing-unit auto 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  a, .spacer {
    margin: 0 $spacing-unit;
  }

  @include media-query($on-laptop) {
    width: 100%;
  }
}

.page-search {
  margin-bottom: 1em;
  fieldset {
    border: none;
    padding: 0;
    margin: 0;

    input[type=text] {
      font-size: .8em;
      width: 300px;
      padding: 0.6em;
      box-sizing: border-box;
      border: 1px solid #c9c9c9;
      border-radius: 2px;
    }

    button {
      position: relative;
      right: 38px;
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 6px;
    }
  }
}
