@media (prefers-color-scheme: dark) {
  body:not(.cv) {
    background-color: #333;
    color: #fff;

    a {
      color: #8ac1ee;
    }

    h1, h2, h3, h4, h5, nav a, nav a:hover, nav .site-title, .home .featured-publications .publication {
      color: #fff;
    }

    .pubs .publication .authors a, #facets ul li, .pubs .publication .authors a, .talks .talk time {
      color: #eee;
    }

    .home .travel .date, .home .news ul time, .pubs .publication .venue, .pubs .publication .venue a, .pubs .publication .tweet .message, .post-meta, .blog-links div i {
      color: #ddd;
    }

    nav a:hover {
      border-bottom-color: #eee;
    }

    .home .button {
      color: lighten($brand-color, 30%);
    }

    #facets ul li .bar-full .bar {
      border-bottom-color: lighten($brand-color, 20%);
    }

    .page-header {
      border-top-color: lighten($brand-color, 20%);
    }

    .pubs .publication .award-icon.fa-award, .pubs .publication .awards, .home .featured-publications .publication .fa-award {
      color: lighten(firebrick, 20%);
    }

    .projects .grid .project, .home .featured-projects .project {
      border-color: #bbb;

      &:hover {
        box-shadow: #000 2px 2px 11px;
      }

      .preview-image {
        border-color: #bbb;
      }
    }

    footer {
      background-color: #2d4964;
    }
  }
}
