footer {
  padding: $spacing-unit 0;

  font-size: $small-font-size;

  background-color: $footer-background;
  color: darken(#fff, 10%);;

  a {
    color: #fff;
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
  }

  .footer-col {
    padding: $spacing-unit/2 0;
  }
  .site-desc {
    width: 500px;

    @include media-query($on-laptop) {
      flex: 1 100%;
    }
  }
}
