/**
 * Headings
 */
h1, h2, h3, h4 {
  margin-top: 1.3em;
  margin-bottom: 0.6em;
}

h1 {
  font-weight: 300;
  font-size: 2.5em;
  margin-top: 1em;
  padding-bottom: 0.2em;
}

h2 {
  font-size: 1.75em;
  font-weight: 500;
  border-bottom: 1px solid lighten($text-color, 50%);
  margin-top: 1.5em;
  padding-bottom: 1px;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.1em;
}

h6 {
  font-size: 1.1em;
}


/**
 * Anchor
 */
.anchor {
  display: inline-block;
  margin-left: -22px;
  width: 22px;
  outline: 0;
}

h2 .octicon-link, h3 .octicon-link, h4 .octicon-link, h5 .octicon-link, h6 .octicon-link {
  vertical-align: middle;
  visibility: hidden;
}

h2:hover .anchor .octicon-link, h3:hover .anchor .octicon-link, h4:hover .anchor .octicon-link, h5:hover .anchor .octicon-link, h6:hover .anchor .octicon-link {
  visibility: visible;
}
