h1, h2, h3, h4 {
  margin-top: 1.3em;
  margin-bottom: 0.6em;
  text-rendering: optimizeLegibility;
}
h1 {
  color: black;
  font-weight: 300;
  font-size: 2.5em;
  margin: 0.7em 0 0.3em 0;
}
h2 {
  font-size: 1.75em;
  font-weight: 500;
  border-bottom: 1px solid #cccccc;
  color: black;
  margin-top: 1.5em;
  padding-bottom: 1px;
  /* more padding between heading and line */
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.3em;
  color: #333;
}
h5 {
  font-size: 1.1em;
}
h6 {
  color: #777777;
  font-size: 1.1em;
}
.anchor {
  display: inline-block;
  margin-left: -22px;
  width: 22px;
  color: black;
  outline: 0;
}
h2 .octicon-link, h3 .octicon-link, h4 .octicon-link, h5 .octicon-link, h6 .octicon-link {
  color: #000;
  vertical-align: middle;
  visibility: hidden;
}
h2:hover .anchor .octicon-link, h3:hover .anchor .octicon-link, h4:hover .anchor .octicon-link, h5:hover .anchor .octicon-link, h6:hover .anchor .octicon-link {
  visibility: visible;
}
