/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  margin-top: 1.2em;
  margin-bottom: 0.6em;
  color: darken($text-color, 10%);
  font-weight: 500;
}

h1 {
  font-weight: 400;
  font-size: 2.6em;
  margin-top: 0.8em;
  margin-bottom: 0.4em;

  &.hidden {
    display: none;
  }
}

h2 {
  font-size: 1.75em;
  border-bottom: 1px solid lighten($text-color, 50%);
  margin-top: 1.5em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.1em;
}

h6 {
  font-size: 1.1em;
}


/**
 * Anchor
 */
.anchor {
  display: inline-block;
  margin-left: -1.5em;
  width: 1.5em;
  position: relative;
  bottom: 0.2em;
  outline: 0;
  font-size: 0.6em;
  opacity: 0;
}

@include media-query($on-laptop) {
  .anchor {
    display: none;
  }
}

h2, h3, h4, h5, h6 {
  &:hover {
    .anchor {
      opacity: 0.8;
      transition: opacity .08s ease-in;
    }
  }
}
