.home-columns {
  display: flex;
  flex-direction: row;

  .intro {
    flex: 1;
    font-size: 1.1em;
  }

  .me {
    margin-left: $spacing-unit;
    margin-bottom: $spacing-unit;

    font-size: 0.9em;
    text-align: center;

    img {
      width: 220px;
      height: 220px;
      border-radius: 6px;
    }
  }
}

.news-travel {
  margin-top: 2 * $spacing-unit;

  display: flex;
  flex-direction: row;

  font-size: 0.9em;

  h2 {
    font-size: 1.5em;
    border-bottom: none;
  }

  & > div {
    flex-grow: 1;
    flex-basis: 0;
  }
}

.news {
  ul {
    list-style: none;
    margin-left: 0;

    li {
      margin-bottom: 1em;
    }

    time {
      display: block;
      color: $grey-color;
      font-size: 0.8em;
    }
  }
}

.travel {
  padding-left: $spacing-unit;

  .date {
    white-space: nowrap;
    color: $grey-color;
    padding-right: 1em;
  }
}

@include media-query($on-palm) {
  .home-columns {
    flex-direction: column;
    align-items: center;

    .intro {
      order: 2;
    }
    .mugshot {
      order: 1;
      margin-left: 0;
    }
  }

  .news-travel {
    margin-top: $spacing-unit;
    flex-direction: column;

    .travel {
      padding-left: 0;
    }
  }
}

