.home-columns {
  display: flex;
  flex-direction: row;

  .intro {
    flex: 1;
  }

  .mugshot {
    width: 220px;
    height: 220px;
    margin-left: $spacing-unit;
    margin-bottom: $spacing-unit;
    img {
      border-radius: 6px;
    }
  }
}

.index-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 4rem 10% 0 10%;
  li {
    display: flex;
    a {
      padding: 0.4em;
      color: $text-color;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

@include media-query($on-palm) {
  .home-columns {
    flex-direction: column;
    align-items: center;

    .intro {
      order: 2;
    }
    .mugshot {
      order: 1;
      margin-left: 0;
    }
  }

  .index-links {
    margin: 4rem 0 0 0;
  }
}

