.page-header {
  // border-bottom: 1px solid #d7d6ce;
  background-color: $header-background;
  // box-shadow: 0px 0px 12px #aaa;
}

nav {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  line-height: 64px;
  justify-content: space-between;

  a {
    color: #666;
    padding: 0 0.6em;
    display: inline-block;
    text-decoration: none;

    &:last-child {
      padding-right: 0;
    }
    &.active {
      font-weight: $bold-font-weight;
      color: #444;
    }
    &:hover {
      color: black;
      text-decoration: none;
      transition: color .08s ease-in;
    }
  }

  .external {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .spacer {
    flex: 1;
  }

  .site-title {
    font-weight: $bold-font-weight;
    margin-top: -2px;
    padding: 0;
    margin-right: $spacing-unit;
    flex: 0 0 auto;
    font-size: 1.5em;
  }
}

@include media-query($content-width + 2*$spacing-unit) {
  nav .external {
    font-size: 1.5em;
    .name {
      display: none;
    }
  }
}

@include media-query($on-laptop) {
  nav {
    &.container {
      // 13 px is just right to not move title
      // reduce padding by 8 pixels so that content is aligned
      padding: 13px ($spacing-unit - 10);
    }

    line-height: 42px;


    a {
      padding: 0 10px;
    }

    .site-title {
      flex: 0 1 100%;
      padding: 0;
      margin-left: 10px;
    }
  }
}

@include media-query($on-palm) {
  .site-title {
    margin-top: 0.5em;
  }

  nav {
    justify-content: space-around;

    .spacer {
      display: none;
    }
    .external {
      flex: 0 1 100%;
    }
    .site-title {
      text-align: center;
    }
    // hide icons from internal links
    &>a .fa {
      display: none;
    }
  }
}
