.projects {
  .lead {
    font-size: 1.2em;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    .project {
      display: flex;
      flex-direction: column;

      border-radius: 3px;
      padding: 16px;
      border: 1px solid #ddd;

      transition: box-shadow 0.2s ease;

      &:hover {
        box-shadow: #aaa 2px 2px 11px;
      }

      .spacer {
        flex: 1;
      }

      .title {
        margin: 0 0 0.6em 0;
        font-size: 1.3em;
        font-weight: bold;
        line-height: 1;
      }

      p {
        font-size: 0.85em;
        margin: 0.7em 0;
        line-height: 1.2;
      }

      .preview-image {
        display: block;
        width: 100%;
        height: 0;
        padding-top: 60%;
        border: 1px solid #f1f1f1;

        background-size: cover;
        background-position: top left;

        transition: background 1.5s;

        &:hover {
          opacity: 1;
          background-position: bottom right;
        }
      }

      .links {
        font-size: 0.8em;

        a {
          margin-right: 0.5em;
          white-space: nowrap;
        }
      }
    }
  }

  @include media-query($on-laptop) {
    .grid {
      grid-template-columns: 1fr 1fr;
    }
  }

  @include media-query($on-palm) {
    .grid {
      grid-template-columns: 1fr;

      .project {
        display: block;

        .preview-image {
          width: 40%;
          padding-top: 22%;
          float: left;
          margin-right: 18px;
        }
      }
    }
  }
}
