.publication {
  h3 {
    font-size: 1.3em;
    margin-bottom: 0em;
    font-weight: 500;
  }
  .award-icon {
    color: #ffc000;
  }

  .awards {
    margin-top: 0.1em;
    font-weight: bold;
  }

  .extra-links {
    margin-top: 1em;
    a {
      margin-right: 1em;
      &:hover {
        text-decoration: none;
        border-bottom: 1px solid $link-color;
      }
    }
  }
}
