.icon svg {
  width: 30px;
}

header {
  background-color: #E6E6E6;
}
a {
  color: $link-color;
}
a:not(:hover) {
  text-decoration: none;
}
footer {
  border-top: 1px solid #eee;
  padding: 1em 0 1em 0;
  font-size: small;
  color: #aaa;
  /* for safari */
  min-height: 40px;
}
footer > div {
  display: flex;
  align-items: center;
}

/* Special classes */

.page-centered {
  /* 1000px - 20px = 960px */
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}
.page-main {
  display: flex;
  flex-direction: column;
  flex-flow: initial;
}
.page-content {
  padding-bottom: 3em;
  flex: 1 1 auto;
}
.page-sidebar {
  width: 200px;
  flex: 0 0 auto;
  margin-top: 1.7em;
  padding-right: .2em;
}

/* Content */
.lead {
  font-size: 1.3em;
  font-weight: 300;
}
