.talks {
  h3 {
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 0.5em;
    margin-top: 2em;

    &:first-child {
      margin-top: 0;
    }
  }

  .talk {
    clear: both;

    time {
      float: right;
      color: $grey-color;
      font-weight: 300;
    }

    .extra-links {
      font-weight: 300;
      font-size: 0.8em;

      a {
        &:first-child {
          margin-left: 2em;
        }

        margin-left: 1em;
      }
    }
  }
}