---
layout: default
---

<section class="container post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    {% if page.description %}<p class="post-subtitle">{{ page.description }}</p>{% endif %}
    <p class="post-meta">
      Published on {{ page.date | date: "%b %-d, %Y" }}
      {% if page.author %} • {{ page.author }}{% endif %}
      {% if page.meta %} • {{ page.meta }}{% endif %}
      </p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <section class="post-sharing">
    <a class="twitter" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.url | absolute_url }}&via={{ site.author }}&related={{ site.author }}" title="Share this post on Twitter"><i class="fab fa-twitter"></i> Tweet</a>
  </section>

  <div class="blog-links">
  {% if page.previous.url %}
    <div>
      <i class="fas fa-md fa-chevron-left"></i>
      <a href="{{ page.previous.url | relative_url }}" title="Previous Post: {{ page.previous.title }}">{{ page.previous.title }}</a>
    </div>
  {% else %}
    <span class="spacer"></span>
  {% endif %}
  {% if page.next.url %}
    <div>
      <a href="{{page.next.url | relative_url}}" title="Next Post: {{page.Next.title}}">{{ page.next.title }}</a>
      <i class="fas fa-md fa-chevron-right"></i>
    </div>
  {% else %}
    <span class="spacer"></span>
  {% endif %}
  </div>
</section>
